<style type="text/css" id="assets_styles">
{% for style in asset_inlines("styles.css") %}
{{ style|raw }}
{% endfor %}
</style>

{{ template.includes.render('cp_scripts')|raw }}

<div id="assets_scripts">
    {% for script in asset_inlines("scripts.js") %}
        <script type="text/javascript" >
        {{ script|raw }}
        </script>
    {% endfor %}
</div>